<h1>Add a new application</h1>
<ul class="breadcrumb">
  <li><a [routerLink]="'/home'">Home</a></li>
  <li class="active">Applications</li>
  <li class="active">Create</li>
</ul>
<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-pills nav-justified thumbnail">
      <li [ngClass]="{'active': currentStep == 1}">
        <a [routerLink]="['/home/applications/create/', application.id, 1]">
          <h4 class="list-group-item-heading">Step 1</h4>
          <p class="list-group-item-text">Application and domain name</p>
        </a>
      </li>
      <li [ngClass]="{'active': currentStep == 2}">
        <a [routerLink]="['/home/applications/create/', application.id, 2]">
          <h4 class="list-group-item-heading">Step 2</h4>
          <p class="list-group-item-text">Source files</p>
        </a>
      </li>
      <li [ngClass]="{'active': currentStep == 3}">
        <a [routerLink]="['/home/applications/create/', application.id, 3]">
          <h4 class="list-group-item-heading">Step 3</h4>
          <p class="list-group-item-text">Folder path</p>
        </a>
      </li>
      <li [ngClass]="{'active': currentStep == 4}">
        <a [routerLink]="['/home/applications/create/', application.id, 4]">
          <h4 class="list-group-item-heading">Step 4</h4>
          <p class="list-group-item-text">Environment configuration</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="row" *ngIf="currentStep == 1">
  <div class="col-md-7">
    <form (ngSubmit)="saveForm1()" #createApplicationForm="ngForm">
      <div class="form-group" [ngClass]="{'has-error': name.invalid && name.touched}">
        <label for="name">Application name<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="formStep1.name" required="required"
               placeholder="My website"
               #name="ngModel">
        <div *ngIf="name.invalid && name.touched" class="help-block">
          Please enter the name of the application
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': domain.invalid && domain.touched}">
        <label for="domain">Domain name<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="domain" name="domain" [(ngModel)]="formStep1.domain"
               required="required"
               placeholder="domain.com"
               #domain="ngModel">
        <div *ngIf="domain.invalid && domain.touched" class="help-block">
          Please enter the domain name of the application
        </div>
        <p class="text-muted">Example: 'domain.com'. Please enter the domain without 'http(s)'.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" [checked]="formStep1.ssl" (change)="formStep1.ssl = $event.target.checked">
          Enable SSL (https)
        </label>
      </div>
      <p><span class="text-danger">*</span> Mandatory field</p>
      <button type="submit" class="btn btn-primary" [disabled]="formSaving || createApplicationForm.form.invalid">
        <span class="fa fa-spin fa-spinner" *ngIf="formSaving"></span>
        Next step
      </button>
    </form>
  </div>
  <div class="col-md-5"></div>
</div>
<div class="row" *ngIf="currentStep == 2">
  <div class="col-md-6">
    <h2 class="text-muted">Versioning system</h2>
    <div class="alert alert-info" role="alert">
      <h3>Feature not supported yet</h3>
      <p>This feature is not currently supported in this version of develfactory.</p>
    </div>
    <div class="form">
      <div class="form-group">
        <label for="repository" class="text-muted">GitHub repository</label>
        <select name="repository" id="repository" disabled="disabled" class="form-control"></select>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" disabled="disabled">
          Confirm this repository
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Direct upload</h2>
    <form (ngSubmit)="saveFormDirectUpload()" #directUploadForm="ngForm">
      <div class="form-group" [ngClass]="{'has-error': formDirectUpload.file === false}">
        <label for="file">Source files<span class="text-danger">*</span></label>
        <input type="file" id="file" name="file" required="required"
               (change)="changeDirectUploadFile($event)">
        <div *ngIf="formDirectUpload.file === false" class="help-block">
          Please select the archive file which contains your source files
        </div>
      </div>
      <div class="form-group">
        <label for="type">Archive type<span class="text-danger">*</span></label>
        <select class="form-control" id="type" name="type" [(ngModel)]="formDirectUpload.type">
          <option *ngFor="let archiveType of defaultArchiveTypes" value="{{ archiveType.key }}">
            {{ archiveType.text }}
          </option>
        </select>
      </div>
      <p><span class="text-danger">*</span> Mandatory field</p>
      <button type="submit" class="btn btn-primary"
              [disabled]="formSaving || (formDirectUpload.file === false || formDirectUpload.file === null)">
        <span class="fa fa-spin fa-spinner" *ngIf="formSaving"></span>
        Upload source files
      </button>
    </form>
  </div>
</div>
