<h1>GitHub settings</h1>
<p><a [routerLink]="'/home'">Go back to Home</a></p>
<div class="margin-bottom-10">
  <accordion>
    <accordion-group #group [isOpen]="helpDisplayed">
      <div accordion-heading>
        {{ group?.isOpen ? 'Click here to hide the help guide' : 'Click here to show the help guide' }}
        <i class="pull-right float-xs-right fa"
           [ngClass]="{'fa-chevron-down': group?.isOpen, 'fa-chevron-right': !group?.isOpen}"></i>
      </div>
      <p>In order to simplify the deployment of your apps, we need an access to your GitHub account.</p>
      <p>To give develfactory access to a limited (but mandatory) actions, please follow this guide:</p>
      <ol>
        <li>Open your GitHub account and go on the settings page (<a href="https://github.com/settings/profile"
                                                                     target="_blank">https://github.com/settings/profile</a>)
        </li>
        <li>In the left menu <strong>Developper settings</strong>, click on the link <strong>Personal access
          tokens</strong>.
        </li>
        <li>On the top right of the page, hit the button <strong>Generate new token</strong>.</li>
      </ol>
      <p>Enter a name for the token you will create (for example <em>develfactory access</em>) and select the following
        permissions:</p>
      <ul>
        <li><strong>repo</strong> (Full control of private repositories)</li>
        <li><strong>admin:repo_hook</strong> (Full control of repository hooks)</li>
        <li><strong>read:user</strong> (Read all user profile data)</li>
        <li><strong>user:email</strong> (Access user email addresses (read-only))</li>
      </ul>
      <p>That's all the permissions you need to give us. We don't need more.</p>
      <p>Create the token by hitting the <strong>Generate token</strong> button.</p>
      <p>GitHub will now display the token at the top of the page <strong>only for a few moment</strong>.</p>
      <p>You can now fill the following form in order to complete your GitHub settings.</p>
    </accordion-group>
  </accordion>
</div>
<form (ngSubmit)="saveForm()" #githubSettingsForm="ngForm">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group" [ngClass]="{'has-error': username.invalid && username.touched}">
        <label for="username">Username<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="form.username"
               required="required"
               #username="ngModel">
        <div *ngIf="username.invalid && username.touched" class="help-block">
          Please enter the GitHub username who created the token
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group" [ngClass]="{'has-error': token.invalid && token.touched}">
        <label for="token">Token<span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="token" name="token" [(ngModel)]="form.token"
               required="required"
               #token="ngModel">
        <div *ngIf="token.invalid && token.touched" class="help-block">
          Please enter the token generated by GitHub
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <p><span class="text-danger">*</span> Mandatory field</p>
      <button type="submit" class="btn btn-primary" [disabled]="formSaving || githubSettingsForm.form.invalid">
        <span class="fa fa-spin fa-spinner" *ngIf="formSaving"></span>
        Save
      </button>
    </div>
  </div>
</form>
